body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
}

#container {
  /* avoid an excessively wide status text */
  width: 520px;
  height: 480px;
}

.navbar-default input{
	width: 240px;
}

.navbar-default .navbar-nav {
	width: 100%;
}

.navbar-default .navbar-nav li {
	float: left;
}

#container .navbar-default {
	border-bottom: solid 1px #ca2100;
	background-color: #db4c3f;
}

#container .navbar-default a {
	color: #fff;
}

#container .navbar-default .navbar-brand span {
	font-size: 10px;
}

#container .container .row h3 { font-size: 12;}

#container .red { background-color: #db4c3f; }